body{
    background:#FFF9C4 ;
}

.header_div{
    background: white;
    color:red;
}

.header_div p{
    font-family:"Roboto";
    color:grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

/* h2{
    font-style: ;
} */